/* css reset | @yojeero | https://github.com/yojeero */
*, *::before, *::after { box-sizing: border-box; } 
html { font-size: 100%; line-height: 1.3; text-size-adjust: 100%; box-sizing: border-box; } 
body { min-height: 100vh; } 

img, picture { display: block; max-width: 100%; } 
blockquote, dl, dd, h1, h2, h3, h4, h5, h6, hr, figure, p, pre { margin: 0; }

h1, h2, h3, h4, button, input, label { line-height: 1.1; } 
h1, h2, h3, h4, h5, h6 { font-size: inherit; font-weight: inherit;  text-wrap: balance; }

input, button, textarea, select { font-family: inherit; font-size: inherit; } 

ol, ul { margin: 0; padding: 0; list-style: none; }
a { color: currentColor; text-decoration: none; cursor: pointer; }

/* text style */
h1,h2,h3,h4,h5
{

    margin: 1.38rem 0;

    color: #191C32;
    font-family: 'Roboto', system-ui, sans-serif;
    font-weight: 400;
    line-height: 1.3;
    text-transform: none;
}

h1 { margin-top: 0; font-size: 4.209rem; }
h2 { font-size: 3.157rem; }
h3 { font-size: 2.369rem; }
h4 { font-size: 1.777rem; }
h5 { font-size: 1.333rem; }

button ,
.button a
{

	display : flex;
	height : 3rem;

	width : 12rem;

	border : none;
	border-radius : 3px;

	font-family : 'Roboto', system-ui, sans-serif;
	font-size : .75rem;
	letter-spacing : .0406rem;
	text-align : center;
	text-decoration : none;
	text-transform : uppercase;

	cursor : pointer;
	align-items : center;
	justify-content : center;
}

/* 	main  */
body
{
	background : #f8fbfb;

	color : #191c32;
	font-family : 'Roboto', system-ui, sans-serif;
	font-size : 1rem;
	font-weight : 400;

	letter-spacing : 1px;
	line-height : 1.75;
}

/* 	loader  */
body.loading {
	overflow: hidden;
}

.loader
{

	position : fixed;
	z-index : 9999;

	display : flex;

	background : #fff;
	align-items : center;
	inset : 0;
	justify-content : center;
}

.loader svg
{

	height : 80px;
	width : 80px;

	color : #000;

	fill : currentColor;
}

.page
{

	display : grid;
	height : 100%;

	margin : auto;

	width : 100%;
	grid-template-areas : 
    'header'
	'pagepic'
	'service'
	'doctor'
	'pacient'
	'about'
	'testimonial'
	'map'
	'footer';
}

/*  header  */
header
{
	display : grid;
	height : 100%;

	margin : auto;
	padding-top : 2rem;

	width : 100%;

	grid-area : header;
	grid-template-columns : 1fr;
	max-width : 1440px;
}

.top
{
	display : grid;
	grid-template-columns : repeat(4, auto);
}

.logo
{
	display : grid;

	margin : auto;
	padding : 1rem;

	place-items : center;
}

.logo a
{

	color : #000;
}

.logo img
{

	display : grid;
	height : 8rem;
	padding : .4rem;

	width : 8rem;

	border : 1px dashed #98cbde;
	border-radius : 50%;

	background : #fff;
}

.logo div
{

	display : none;

	font-size : calc(1.125rem + .5vw);
	line-height : 24px;

	text-align : left;

	grid-column : 2/2;
}

.tel ,
.chat
{

	display : grid;

	padding : 0;

	place-items : center;
}

.tel div
{

	display : grid;

	font-size : 1.777rem;
	line-height : 1.5;

	text-align : left;
}

.tel div span
{

	display : grid;

	font-size : .875rem;
    justify-items: center;
}

.whatsapp
{

	display : grid;
	height : 5rem;

	width : 5rem;

	border : 1px dashed #98cbde;
	border-radius : 50%;

	background : #fff;

	place-items : center;
}

.whatsapp svg
{

	display : grid;
	height : 3rem;

	width : 3rem;

	object-fit : cover;
}

.whatsapp svg:hover
{
	height : 3.4rem;
	width : 3.4rem;

	transition : all .3s ease;
}

.telegram
{
	display : grid;
	height : 5rem;

	width : 5rem;

	place-items : center;
}

.telegram svg
{
	display : grid;
	height : 4rem;

	width : 4rem;

	object-fit : cover;
}

.telegram svg:hover
{
	height : 3.4rem;
	width : 3.4rem;

	transition : all .3s ease;
}

/*  navigation  */
.menu
{

	position : relative;

    display : grid;
	margin : auto;

	padding-bottom : 19px;

	width : 100%;

	place-items : center;
}

.menu ul
{
	display : flex;

	height : 28px;
	align-items : center;
	flex-flow : row nowrap;
}

.menu-item
{
	display : flex;

	transition : .3s ease-in-out;
	align-items : center;
	justify-content : center;
}

.menu-item:hover ,
.menu-item.active
{

	border-bottom : 1px solid #000;
}

ol.sub-menu .menu-item ,
ol.sub-menu .menu-item:hover ,
ol.sub-menu .menu-item.active
{
	border-bottom : none;
}

.nav li a
{

	color : #000;
	font-size : 1.125rem;
	text-transform : uppercase;

	cursor : pointer;
}

.nav li:before
{
	content : ' / ';
}

.nav li:first-child:before
{
	content : '';
}

.nav li .active ,
.nav li a:hover
{
	color : #ff5d8f;
}

ol.sub-menu
{

	position : absolute;
	top : 100%; 

	margin-bottom : 8px;

	margin-top : 1px;

	border-bottom-left-radius : 3px;

	border-bottom-right-radius : 3px;

	background : #fff;

	list-style-type : none;
	transform : rotateX(-90deg);
	transform-origin : top;

	transition : transform .5s linear;
	max-width : 980px;

	min-width : 200px;
}

ol.sub-menu .menu-item a
{

	padding : 1rem;
}

ol.sub-menu a
{

	color : #000;
	font-size : .925rem;
}

ol.sub-menu a:hover ,
ol.sub-menu a:visited
{

	color : #000;
	font-weight : 700;
}

ol.sub-menu li
{	

	margin-bottom : 4px;
	margin-top : 1px;
}

ol.sub-menu .menu-item ,
ol.sub-menu .menu-item:hover ,
ol.sub-menu .menu-item:active
{

	border : solid 1px #000;
	border-bottom : solid 1px #000;
}

ol.sub-menu li:before
{
	content : '';
}

.menu-item:hover .sub-menu
{

	z-index : 990;
	transform : rotateX(0deg);
}

.menu-item a
{

	display : flex;
	height : 100%;

	padding : 1.25rem;

	width : 100%;

	text-decoration : none;
	text-transform : uppercase;
	align-items : center;
	flex-direction : column;
}

.nav li.nav_foot
{
	display : none;
}

.top_fav
{
	display : flex;

	margin-bottom : 5px;
	margin-left : 2rem;
	align-items : center;
	justify-content : center;
}

.top_fav svg
{
	display: flex;
	height : 1.25rem;

	margin : 0 .6rem;

    width : 1.25rem;   

	transition : all .3s ease;

	fill : #98cbde;
}

.top_fav svg:hover
{
	height : 1.5rem;
	width : 1.5rem;

	fill : #ff5d8f;
}

.navicon
{
	display : none;
}

/*  all pages header pic */
.page_pic
{
	display : grid;
	height : 300px;

	margin : auto;

	width : 100%;

	background : url('../img/home.webp') no-repeat bottom center, #fff;

	grid-area : pagepic;
	grid-template-columns : 1fr;
}

/* 	service	 */
.service_area
{

	display : grid;
	margin : 4rem auto;

	width : 100%;

	gap : 2rem;
	grid-area : service;
	grid-template-columns : repeat(4,1fr);
	max-width : 1080px;
}

.service_card
{
	display : grid;

	grid-template-rows : 6.5rem 6rem 7.5rem;
}

.service_card h4
{

	line-height : .9;
}

.service_cicle
{

	display : grid;
	height : 6rem;

	width : 6rem;

	border : 2px dashed #98cbde;
	border-radius : 50%;

	background : #fff;

	place-items : center;
}

.service_cicle svg
{

	display : grid;
	height : 3rem;

	width : 3rem;

	object-fit : cover;
}

.service_link
{
	display : grid;

	grid-column : 1 / -1;
	place-items : center;
}

.service_link a
{

	border : none;

	background : #2ecc71;

	color : #fff;
	box-shadow : #e0e0e0 0 12px 18px;
}

.service_link a:hover
{

	border : 1px solid #2ecc71;

	background : #fff;

	color : #000;
	box-shadow : #e0e0e0 0 2px 4px;
	transition : all .3s ease;
}

/* doctor */
.doctor_area
{

	display : grid;
	height : 100%;
	padding : 3rem 0;

	width : 100%;

	background : url('../img/home.webp') no-repeat bottom center, #fff;

	grid-area : doctor;
}

.doctor
{

	display : grid;
	height : 100%;
	margin : auto;

	width : 100%;

	grid-template-columns : 1fr 1fr;
	max-width : 650px;
	place-items : center;
}

.profile
{
	height : 420px;
	padding : 3rem 2rem;

	width : 300px;

	border : 1px solid #fff;
	border-radius : 3px;

	background : rgba(255, 255, 255, .96);

	color : #000;
	font-size : .7rem;

	text-align : center;
	text-transform : uppercase;
	box-shadow : #e0e0e0 0 12px 18px;
}

.profile img
{

	height : 130px;

	margin : auto;
	margin-bottom : 2rem;
	width : 130px;

	object-fit : cover;
}

/*  clients  */
.pacient_area
{
	display : grid;

	margin : auto;
	padding-top : 3rem;

	width : 100%;

	gap : 2rem;
	grid-area : pacient;
	grid-template-columns : repeat(3, minmax(200px,auto));
	grid-template-rows : auto;
	max-width : 1080px;
}

.pacient_card
{
	display : grid;

	color : #424242;

	grid-template-columns : 80px auto;
	grid-template-rows : auto auto;
}

.pacient_area h3.mark
{

	display : grid;
	grid-column : 1 / -1;
	place-items : center;
}

.pacient_area h3.mark::after
{

	position : relative;

	display : grid;
	height : 1px;

	margin-top : 1rem;

	width : 6rem;

	background : #ff5d8f;

	content : '';

	place-items : center;
}

.pacient_card .title
{

	margin-bottom : .7rem;

	color : #424242;
	font : 400 1rem/1.75 'Segoe UI','Helvetica Neue';
	font-size : .825rem;
	font-weight : 700;

	text-transform : uppercase;
}

.pacient_card svg
{

	display : grid;
	height : 3.125rem;

	width : 3.125rem;

	fill : #98cbde;
	grid-row : 1/3;
	object-fit : cover;
	stroke : #98cbde;
}

/*  about  */
.about_area
{
	display : grid;
	height : 100%;

	padding : 3rem 0;

	width : 100%;

	grid-area : about;
}

.about
{
	display : grid;
	height : 100%;

	margin : auto;

	width : 100%;

	gap : .5rem;
	grid-template-columns : repeat(3, 1fr);
	max-width : 1080px;
}

.about h3.mark
{
	display : grid;

	padding-bottom : 1rem;

	text-align : center;

	grid-column : 1 / -1;
	place-items : center
}

.about h3.mark::after
{

	position : relative;

	display : grid;
	height : 1px;

	margin : 1rem;

	width : 6rem;

	background : #ff5d8f;

	content : '';

	place-items : center;
}

.office
{

	position : relative;
}

.txt
{

	padding : 1rem;
}

.txt div
{
	display : flex;
	flex-flow : row nowrap;
	justify-content : space-between;
}

.office div a ,
.office div span
{

	color : #212121;
}

.office a:hover
{
	color : #ff5d8f;
}

.office h4 span
{
	color : #2ecc71;
}

.office p span
{
	text-align : right;
}

.office img
{

	height : 200px;
	width : auto;

	object-fit : cover;
	object-position : center;
}

.about label[for]
{
	cursor : pointer;
}

.about input[type='checkbox']
{
	display : none;
}

.lightbox
{

	left : 0;
	position : fixed;
	top : 0;
	z-index : 14;

	height : 100%;

	width : 100%;
	transform : scale(0);

	transition : transform .75s ease-out;

	overflow : auto;
}

.lightbox img
{

	left : 50%;
	position : fixed;
	top : 50%;

	height : 700px;
	padding : 0;

	width : auto;

	transform : translate(-50%, -50%);
}

.about input[type='checkbox']:checked + .lightbox
{
	transform : scale(1);
}

.office figure
{

	left : 45%;
	position : absolute;
	top : 5rem;
	z-index : 7;

	height : 2.4rem;

	width : 2.4rem;

	border : none;
	border-radius : 50% 50% 50% 0;

	background : #98cbde;
	box-shadow : #212121 0 12px 18px;
}

.office label svg
{

	left : 0;
	position : absolute;
	top : 0;
	z-index : 8;

	height : 2.4rem;

	width : 2.4rem;

	border : none;

	transition : all .3s ease;

	fill : #fff;
	stroke : #fff;
}

.office label svg:hover
{
	fill : #ff5d8f;
	stroke : #ff5d8f;
}

.mailtoui-modal
{

	background : #f8fbfb;
}

/* 	testimonial  */
.testimonial
{

	display : grid;
	height : 100%;

	padding : 3rem;

	width : 100%;

	background : #fff;

	grid-area : testimonial;
	grid-template-columns : 1fr;
}

.talk
{

	position : relative;

	display : flex;

	height : 500px;
	align-items : flex-end;
	flex-flow : row nowrap;
	justify-content : center;
	overflow : hidden;
}

.talk_nav
{

	z-index : 10;

	height : 14px;

	margin : 2rem 12px;

	width : 14px;

	border-radius : 50%;

	background : transparent;
	box-shadow : #726659, #d6d2c4;

	cursor : pointer;

	appearance : none;
	outline : 7px solid #c7ecee;
	outline-offset : -7px;
	backface-visibility : hidden;
}

.talk_nav:checked
{
	animation : check .4s linear forwards;
} 

.talk_nav:checked:nth-of-type(1) ~ .talk_wrap
{

	left : 0;
} 

.talk_nav:checked:nth-of-type(2) ~ .talk_wrap
{
	left : -100%;
} 

.talk_nav:checked:nth-of-type(3) ~ .talk_wrap
{
	left : -200%;
}

.talk_wrap
{
	left : 0;
	position : absolute;
	top : 0;

	display : flex;
	height : 100%;

	width : 300%;

	transition : left .4s;
	flex-flow : row nowrap;
}

.talk_content
{
	display : flex;

	height : 100%;
	padding : 2rem;

	text-align : center;
	align-items : center;
	flex : 1;
	flex-flow : column nowrap;
	justify-content : center;
}

.talk_content img
{

	display : flex;
	height : 180px;

	width : 180px;

	border-radius : 50%;
}

.talk_label
{

	margin : 2rem 0 1rem;

	text-transform : uppercase;
}

.talk_txt
{
	margin-bottom : 3rem;

	color : rgba(114, 102, 89, .5);
	max-width : 360px;
}

@keyframes check
{
	50% { box-shadow : 0 0 0 12px #c7ecee, 0 0 0 36px rgba(199,236,238, .2); outline-color : #726659; }
	100% { box-shadow : 0 0 0 0 #c7ecee, 0 0 0 0 rgba(199,236,238, .2); outline-color : #726659; }
}

/*  map  */
#map
{
    width: 100%;
	height : 540px;

    overflow: hidden;

	display : grid;
	grid-area : map;
	grid-template-columns : 1fr;
}

#map-pages
{
	display : grid;
	min-height : 600px;

	overflow: hidden;

	width : 100%;
	place-items : center;
}

/* 	footer  */
footer
{
	display : grid;
	height : 100%;

	padding : 0;

	width : 100%;

	grid-area : footer;
	grid-template-columns : 1fr 1fr;
	min-height : 600px;
	place-items : center;
}

.brand
{
	display : grid;
	height : 300px;

	margin : auto;

	width : 100%;

	grid-template-columns : 1fr auto;
	grid-template-rows : auto auto;
	place-items : center;
}

.brand_logo
{
	display : grid;

	color : #000;

	grid-column : 1/-1;
	grid-row : 1;
	place-items : center;
}

.brand_logo img
{

	display : grid;
	height : 150px;

	width : 150px;

	background : #fff;

	grid-column : 1/1;
}

.brand_logo h3
{

	display : grid;

	padding : 0 3rem;

	grid-column : 2/2;
}

.brand_logo h3 span
{

	color : #909090;
	font-size : .875rem;
}

.copyright
{

	display : grid;
	margin : auto;
	margin-top : 2.4rem;
	padding : 1rem;

	width : 41%;

	border-top : thin solid #757575;

	font-size : .75rem;
	font-weight : 400;

	grid-row : 2;
}

.copyright a
{

	padding : 0 .5rem;

	color : #000;
	font-size : .7rem;
	font-weight : 700;

	text-transform : uppercase;
}

.copyright a:hover
{
	color : #ff5d8f;
}

.copy_fav
{

	display : grid;

	width : 4rem;

	box-shadow : #bdbdbd 0 12px 18px;

	grid-column : 2;
	grid-row : 1/3;
}

.svg_box
{
	display : grid;
	height : 4rem;

	width : 4rem;

	background : #2ecc71;

	place-items : center;
}

.svg_box svg
{

	height : 1.5rem;
	width : 1.5rem;

	list-style-type : none;

	fill : #f9feff;
	stroke : none;
}

.svg_box svg:hover
{
	height : 1.3rem;
	width : 1.3rem;

	fill : #fff;
	stroke : none;
}

.form_area
{
	display : grid;

	width : 100%;

	background : #edede9;
	min-height : 600px;
}

.form_area form
{

	display : grid;

	margin : auto;

	width : 90%;

	place-items : center;
}

.form_area input
{
	height : 50px;

	padding : 0 1rem;

	width : 52%;

	border : solid 1px #909090;

	border-bottom : none;

	background : transparent;

	color : #000;
	font-size : .875em;

	transition : all .3s ease-in-out;
	outline : none;
}

.form_area input:hover
{

	background-color: #fff;

	color : #000;
	cursor : pointer;
}

.form_area textarea
{

	height : 110px;

	padding : 1rem;

	width : 52%;

	border : solid 1px #909090;

	background : transparent;

	color : #000;
	font-size : .875em;

	cursor : pointer;
	transition : all .3s ease-in-out;
	outline : none;
}

.form_area textarea:hover
{

	background-color: #fff;

	color : #000;
}

#submit
{

	margin : 0;
	padding : 0;

	width : 52%;

	border : solid 1px #909090;
	border-top : none;

	color : #000;
	font-size : .875em;
	text-transform : uppercase;

	cursor : pointer;
	outline : none;
}

#submit:hover
{

	background-color: #fff;

	color : #000;
}

.up
{

	bottom : 3rem;
	position : fixed;
	right : 3rem;
	z-index : 999;

	display : none;

	cursor : pointer;
}

.up .svg_cicle
{
	display : grid;
	height : 3rem;

	width : 3rem;

	border-radius : 50%;

	background : #2ecc71;

	place-items : center;
}

.up .svg_cicle svg
{

	height : 1.5rem;
	width : 1.5rem;

	fill : none;
	stroke : #fff;
	stroke-width : 2;
}

.up .svg_cicle svg:hover
{
	height : 1.75rem;
	width : 1.75rem;
}

/*  page service  */
.page-service
{
	display : grid;
	height : 100%;

	margin : auto;

	width : 100%;

	grid-template-areas : 
    'header'
	'pagepic'
	'main_service'
	'footer';
	max-width : 100%;
}

.main_service
{
	display : grid;

	margin : auto;
	padding : 2rem 0 5rem;

	width : 100%;

	gap : 4rem;
	grid-area : main_service;
	grid-template-columns : repeat(3, minmax(200px,auto));
	grid-template-rows : auto;
	max-width : 1080px;
}

.col_service
{
	display : grid;
	align-content : start;
	align-items : start;

	grid-template-columns : auto;
	grid-template-rows : auto auto;
}

.col_service h3
{
	display : grid;

	text-align : center;

	place-items : center;
}

.col_service h3::after
{

	position : relative;

	display : grid;
	height : 1px;
	margin-top : 1rem;

	width : 3rem;

	background : #ff5d8f;

	content : '';

	place-items : center;
}

.col_service ul
{

	display : grid;

	padding-left : 3rem;

	border-left : 1px solid #000;
}

.col_service ul li
{

	display : grid;
	display : list-item;

	padding : 4px 0 4px 8px;

	font-size : 1rem;
}

.col_service ul li::marker
{

	padding : 0 .5rem;

	color : #ff5d8f;

	content : counter(list-item) '› ';
}

/*  page doctor  */
.page-doctor
{

	display : grid;
	height : 100%;

	margin : auto;

	width : 100%;

	grid-template-areas : 
    'header'
	'pagepic'
	'timeline'
	'diploma'
	'footer';
	max-width : 100%;
}

.timeline
{
	display : grid;
	height : 100%;

	margin : auto;
	padding-top : 2rem;

	width : 100%;

	grid-area : timeline;
	grid-template-columns : 1fr;
	grid-template-rows : auto;
	max-width : 1080px;
}

.timeline img
{
	display : grid;
	height : 164px;

	margin : auto;
	padding : 1rem;

	width : 164px;

	place-items : center;
}

.timeline h2
{
	display : grid;

	text-align : center;

	place-items : center;
}

.timeline h2::after
{

	position : relative;

	display : grid;
	height : 1px;
	margin-top : 1rem;

	width : 6rem;

	background : #ff5d8f;

	content : '';

	place-items : center;
}

.timeline h3.pro
{

	display : grid;

	padding : 1rem 0;

	text-align : center;
}

.timeline h5
{

	display : grid;

	text-align : center;
}

.tree
{

	position : relative;

	display : grid;
	height : 100%;

	margin : auto;

	width : 100%;

	grid-template-columns : 1fr 1fr;
	overflow : hidden;
}

.tree::before
{

	left : 50%;
	position : absolute;
	top : 0;
	z-index : 1;

	height : 100%;

	width : 2px;

	background : #d2e3ed;

	content : '';
}

.timeline-right
{

	position : relative;

	display : grid;

	width : 100%;

	grid-column : 2/2;
	justify-items : start;
	place-items : center;
}

.timeline-left
{

	position : relative;

	display : grid;

	width : 100%;

	grid-column : 1/1;
	justify-items : end;
	place-items : center;
}

.timeline-right-0 ,
.timeline-left-0
{
	min-height : 2rem;
}

.marker-r
{

	position : absolute;
	right : 100%;
	z-index : 2;

	height : 18px;
	margin-right : -10px;

	width : 18px;

	border : 2px solid #d2e3ed;
	border-radius : 50%;

	background : #f9feff;
}

.marker-l
{

	left : 100%;
	position : absolute;
	z-index : 3;

	height : 18px;

	margin-left : -8px;

	width : 18px;

	border : 2px solid #d2e3ed;
	border-radius : 50%;

	background : #f9feff;
}

.timeline-content
{

	padding : 2rem;
	width : 80%;

	color : #726659;
}

.timeline-content h3
{

	margin : .5rem 0;
}

.timeline-content span
{

	padding : 2px 8px 4px 8px;

	border-radius : 3px;

	background : #2ecc71;

	color : #fff;
	font-size : .875rem;
}

.timeline-content p
{

	margin-top : .5rem;

	color : #000;
	font-size : .9375rem;
}

.tree div:nth-child(odd) > .timeline-content
{

	margin-top : 0;

	text-align : left;
}

.tree div:nth-child(even) > .timeline-content
{

	margin-top : -16rem;

	text-align : right;
}

.diploma
{

	display : grid;
	height : 100%;

	margin : auto;
	padding : 4rem 0 ;

	width : 100%;

	gap : .5rem;
	grid-area : diploma;
	grid-template-columns : repeat(3,1fr);
	max-width : 900px;
	place-items : center;
}

.diploma img
{
	height : auto;
	width : 240px;

	border : 11px solid #f8fbfb;

	background : #f8fbfb;
	box-shadow : inset 0 0 6px #e0e0e0,
	20px 20px 36px #e0e0e0;

	object-fit : cover;
	object-position : center;
}

/*  page price  */
.page-price
{

	display : grid;
	height : 100%;

	margin : auto;

	width : 100%;

	grid-template-areas : 
    'header'
	'pagepic'
	'price_title'
	'price'
	'price_info'
	'footer';
	max-width : 100%;
}

.price_title
{
	display : grid;

	margin : auto;
    padding : 3rem 0;

	width : 100%;    

	grid-area : price_title;
	grid-template-columns : 1fr 1fr ;
	max-width : 900px;
}

.price_title img
{
	display : grid;

	height : 240px;

	margin : auto;

    border-radius: 50%;

	object-fit : cover;
	object-position : center;
}

.price_title div
{

	display : grid;   

	padding : 2rem;
}

.price_title div h3
{
	display : grid;

	text-align : left;	
}

.price_title div h3::after
{

	position : relative;

	display : grid;
	height : 1px;

	margin-top : 1rem;

	width : 3rem;

	background : #ff5d8f;

	content : '';

	place-items : center;
}

.price_info
{

	display : grid;

	margin : auto;
	padding : 4rem 2rem;

	width : 100%;

	grid-area : price_info;
	grid-template-columns : 1fr;
	max-width : 900px;
}

.price_info ul li
{

	display : grid;
	display : list-item;

	padding : 4px 0 4px 8px;

	font-size : .825rem;
}

.price_info ul li::marker
{

	color : #ff5d8f;
	content : counter(list-item) '› ';
}

.price
{

	display : grid;
	height : auto;

	margin : auto;
	padding : 2rem ;

	width : 100%;

	border : 1px solid #fff;
	border-radius : 5px;
	border-top : 3px solid #ff5d8f;

	background : #f8fbfb;
	box-shadow : 0 14px 28px #eee;

	transition : all .3s cubic-bezier(.25,.8,.25,1);

	grid-area : price;
	grid-template-columns : 1fr;
	grid-template-rows : auto;
	max-width : 900px;
	place-items : center;
}

.price:hover
{
	box-shadow : 0 2px 4px #eee;
}

a.accordion
{

	position : relative;

	padding : 2rem;

	width : 100%;

	border-top : 1px dotted #98cbde;

	color : #000;
	font-size : 1rem;
	font-weight : 400;
	letter-spacing : 2px;
	line-height : .5rem;
	text-align : left;
	text-decoration : none;
	text-transform : uppercase;

	cursor : pointer;
}

a.accordion:nth-child(1)
{

	border-top : none;
}

a.accordion:hover
{

	font-weight : 700;
}

.panel
{

	color : #000;

	transition : max-height .4s ease-out;

	max-height : 0;
	overflow : hidden;
}

.accordion svg
{

	position : absolute;
	right : 2rem;
	top : 50%;

	height : 1.25rem;

	width : 1.25rem;
	transform : translateY(-50%);

	transition : all .3s ease;

	fill : none;
	stroke : #98cbde;
}

.accordion.active svg
{
	transform : translateY(-50%) rotate(180deg)
}

thead ,
tbody ,
tr
{
	display : contents;
}

table
{
	height : 100%;

	width : 100%;

	border-right : 1px solid #eff2e9;

	border-top : 1px solid #eff2e9;

	line-height : 1.4
}

tr
{

	display : grid;

	grid-template-columns : 1fr 3fr 1fr;
}

th ,
td
{
	padding : 1rem;

	border-bottom : 1px solid #eff2e9;
	border-left : 1px solid #eff2e9;

	text-align : center;
}

th
{

	background : #2ecc71;

	color : #fff;
	font-size : 1rem;
	font-weight : 400;

	text-align : center;
	text-transform : lowercase;
}

td
{
	font-size : .875rem;
}

td.title
{
	font-weight : 700;
}

td:nth-child(1)
{
	text-align : left;
}

/*  page clients  */
.page-client
{

	display : grid;    
	height : 100%;

	margin : auto;

	width : 100%;

	grid-template-areas : 
    'header'
	'pagepic'
	'client_label'
	'client'
	'client_info'
	'footer';
	max-width : 100%;
}

.client_label
{
	display : grid;

	margin : auto;
    padding : 3rem 0;

	width : 100%;    

	grid-area : client_label;
	grid-template-columns : 1fr 1fr;
	max-width : 800px;
}

.client_label img
{
	display : grid;

	height : 240px;

	margin : auto;

	border-radius : 50%;

	object-fit : cover;
	object-position : center;
}

.client_label div
{

	display : grid;

    padding : 2rem;
}

.client_label div h3
{
	display : grid;

	text-align : left;
}

.client_label h3::after
{

	position : relative;

	display : grid;
	height : 1px;

	margin-top : 1rem;

	width : 6rem;

	background : #ff5d8f;

	content : '';
}

.client
{

	display : grid;
	height : 100%;

	margin : auto;

	width : 100%;	

	grid-area : client;
	grid-template-columns : 1fr;
	grid-template-rows : auto;
	max-width : 800px;
}

.rules
{
	display : grid;

	border : 1px solid #98cbde;

	grid-template-columns : auto 1fr;
	grid-template-rows : auto;

	max-width : 100%;
}

.rules dt
{

	display : grid;

	padding : 2rem;

	color : #98cbde;
	font-size : 1.2rem;
	font-weight : 700;

	place-items : center;
}

.rules dd
{

	display : grid;

	padding : 2rem;

	border-left : 1px solid #98cbde;

	background : #fff;
}

.rules dd ~ dt ,
.rules dd ~ dd
{

	border-top : 1px solid #98cbde;
}

.rules dt:nth-child(4n+1) ,
.rules dd:nth-child(4n+2)
{

	background : #f9feff;
}

.rules ul
{

	padding : 1rem 3rem;
}

.rules ul li
{
	display : grid;
	display : list-item;

	padding : .5rem 0 .5rem 1rem;
}

.rules ul li::marker
{
	padding : 0 .5rem;

	color : #ff5d8f;

	content : counter(list-item) '› ';
}

.client_info
{

	position : relative;

	display : grid;

	margin : auto;
	padding : 4rem 0;

	width : 100%;

	grid-area : client_info;
	grid-template-columns : 1fr;
	max-width : 700px;
}

.client_info div
{
	display : grid;

	margin : auto;

	gap : 0 2rem;
	grid-template-columns : 1fr 1fr 1fr;
}

.client_info img
{
	display : grid;
	height : auto;

	padding : 1.25rem;

	width : 135px;

	border : 6px solid #f8fbfb;

	background : #f8fbfb;
	box-shadow : inset 0 0 6px #eee,
	20px 20px 36px #e0e0e0;
}

.client_info h3
{

	padding : 1rem;

	color : #98cbde;
	font-size : 2.5rem;

	text-align : center;
}

.client_info svg
{

	bottom : 20%;
	left : 34%;
	position : absolute;
	z-index : -1;

	height : 14rem;

	width : 14rem;

	opacity : .6;
}

/* end desktop */

/*  responsive mobile  */
@media only screen and (max-width: 40em)  /* max-width 640px */

{

header ,
.top ,
.tel
.logo
{
	padding : 0;
	grid-template-columns : 1fr;
}

header
{
	height : 100px;
	padding : 0;
}

.top
{
	width : 100%;
	grid-template-columns : repeat(3,1fr);
}

.logo
{
	grid-column : 1;
	place-items : center;
}

.logo img
{
	display : none;
}

.logo div
{
	display : grid;
}

.chat
{
	grid-column : 2;
}

.tel
{
	display : none;
}

/*  hamburger mobile */
.navicon
{

	position : absolute;
	right : 3.2rem;
	top : 2.5rem;
	z-index : 9999;

	display : grid;
	height : 30px;

	margin : auto;

	width : 32px;

	cursor : pointer;

	grid-column : 3;
}

.hamburger ,
.hamburger::before
{
	transition : all .2s ease-in-out;
} 
.hamburger:nth-child(2) ,
.hamburger:nth-child(2)::before
{
	transition : all .2s ease-in-out .1s;
} 
.hamburger:nth-child(3) ,
.hamburger:nth-child(3)::before
{
	transition : all .2s ease-in-out .2s;
} 
.navicon.active .hamburger ,
.navicon.active .hamburger::before
{
	transition : all .2s ease-in-out .2s;
} 
.navicon.active .hamburger:nth-child(2) ,
.navicon.active .hamburger:nth-child(2)::before
{
	transition : all .2s ease-in-out .1s;
} 
.navicon.active .hamburger:nth-child(3) ,
.navicon.active .hamburger:nth-child(3)::before
{
	transition : all .2s ease-in-out 0s;
}

.hamburger
{
	height : 3px;

	margin : auto;
	width : 32px;

	border-radius : 2px;

	background : #000;

	list-style-type : none;
}

.hamburger::before
{

	left : -8px;
	position : absolute;

	display : block;
	height : 4px;

	width : 4px;

	border-radius : 3px;

	background : #000;

	content : '';
}

.hamburger:nth-child(3)
{

	margin-right : 8px;
	width : 24px;
}

.navicon.active .hamburger
{
	width : 0;
}

.navicon.active .hamburger::before
{

	left : 12px;
}

/*  nav fullscreen responsive mobile */
.menu
{
	left : -100%;
	position : fixed;
	top : 0;
	z-index : 6000;

	display : grid;
	height : 100vh;

	padding-bottom : 100px;

	width : 100%;

	background : #fff;

	text-align : left;

	opacity : 0;
	transform : scale(1);

	transition : all 500ms cubic-bezier(.68, -.55, .265, 1.55);
	max-width : 100%;

	place-items : center;
}

.menu.open
{

	left : 0;
	opacity : 1;
}

.menu.open ul li
{
	opacity : 1;
	transform : translateX(0);
}

.nav li:before ,
.nav li:first-child:before
{
	content : '';
}

.menu-item ,
.menu-item.active
{

	display : flex;

	width : 100%;

	border-bottom : none;
	flex-direction : column;
}

.menu-item a
{

	display : inline-grid;
	padding : .6rem 0;
}

.menu-item a:hover
{
	transition : transform .5s linear;
}

ol.sub-menu
{

	position : relative;

	border-bottom-left-radius : none;

	border-bottom-right-radius : none;
	transform : none;
	transform-origin : none;

	transition : none;
	max-width : 100%;

	min-width : 100%;
}

ol.sub-menu .menu-item
{

	display : flex;

	width : 100%;
	flex-direction : column;
}

ul.nav
{
	display : inline-grid;

	height : 70vh;
	padding : 6rem 2rem;
	visibility : visible;
}

ul.nav li.nav_foot
{

	display : inline-grid;

	font-size : .8rem;
}

.top_fav
{

	margin-left : -8px;
	padding : 3rem 0;
	justify-content : flex-start;
}
/*  end nav fullscreen responsive mobile  */

/*  responsive hero  */
.hero
{
	height : auto;
}

.hero img
{
	height : 400px;
	width : auto;

	object-fit : cover;
}

/*  responisve home mobile  */
.service_area
{
	
	margin : 2rem 0;
	padding : 0 2rem;
	width : 90vw;

	grid-template-columns : 1fr;
}

.service_card
{
	grid-template-rows : auto auto auto;
}

.service_card h1
{

	font-size : 1.424rem;
}

.service_link
{

	width : 90vw;

	grid-column : 1;
}

.doctor_area
{
	padding : 1rem 0;
}

.doctor
{
	grid-template-columns : 1fr;
}

.profile
{
	margin : 1rem 0;
}

.pacient_area
{
	
	margin : 2rem 0;
	padding : 0 2rem;
	width : 90vw;

	grid-template-columns : 1fr;
}

.pacient_card
{
	display : grid;

	grid-template-columns : auto;
	grid-template-rows : 60px auto;
}

.about
{

	padding : 0 1rem;
	width : 90vw;

	grid-template-columns : 1fr;
}

.txt
{
	width : 90%;
}

footer
{
	margin : 0;

	grid-template-columns : 1fr;
}

.form_area
{

	grid-row : 1;
	min-height : 400px;
}

.form_area input ,
.form_area textarea ,
#submit
{
	width : 80%;
}

.brand
{
	margin-bottom : 2rem;
	margin-top : 2rem ;
}

.brand_logo
{
	width : 80%;
}

.brand_logo img
{
	height : 100px;
	width : 100px;
}

.brand_logo h3
{

	font-size : 1.75rem;
}

.copyright
{

	padding : 1rem;
	width : 100%;
	max-width : 90vw;
}

.copyright a
{
	padding : 0 .25rem;
}

.copy_fav
{
	display : none;
}

.up
{

	right : .5rem;
}

/*  responsive page service mobile */
.main_service
{

	margin : 2rem 0;
	padding : 0 3rem;

	gap : 1rem;
	grid-template-columns : 1fr;
}

.icon_list
{

	left : 1.5rem;
}

.col_service ul
{

	padding : 0;

	border-left : none;
}
  
/*  responsive page doctor mobile  */
.timeline img
{

	display : grid;

	margin : 1rem;
	padding : 0;
}

.tree
{
	grid-template-columns : 1fr;
}

.tree::before
{

	left : 1rem;
}

.timeline h2 ,
.timeline h3.pro ,
.timeline h5
{

	display : block;

	padding-left : 1rem;

	line-height : 1;

	text-align : left;
}

.timeline-content h3
{
	line-height : .9;
}

.timeline-right
{
	grid-column : 1/1;
	justify-items : start;
}

.timeline-left
{
	grid-column : 1/1;
	justify-items : start;
}

.timeline-right-0 ,
.timeline-left-0
{

	display : none;
}

.marker-r
{

	left : .5rem;

	margin-right : -10px;
}

.marker-l
{

	left : 1rem;
}

.tree div:nth-child(even) > .timeline-content
{

	margin-top : 0;
	padding : 0 2rem;
	width : 80%;

	text-align : left;
}

.diploma
{

	padding : 0 2rem 2rem 0;

	grid-template-columns : repeat(2,1fr);
}

.diploma img
{	
	width : 200px;
}

/*  responsive page price mobile  */
.price_title
{
	padding : 0;

	grid-template-columns : 1fr;
}

.price_title img
{
	display : none;
}

.price_info
{
	padding : 2rem;
}

.price
{

	position : relative;
	z-index : 0;

	margin : 0;

	padding : 1rem;

	width : 95vw;
	
	border : 1px solid #ff5d8f;
}

a.accordion
{

	padding : 1.5rem 2rem;

	font-size : .825rem;
	line-height : 1;
}

.price tr
{
	grid-template-columns : 1fr 1fr 1fr;
}

table
{
	line-height : 1.3;
}

th
{

	padding : .6rem;
}

td
{
	padding : .4rem;
}

/*  responsive page clients mobile  */
.client_label
{
	padding : 0;

	text-align : left;

	column-gap : 0;
	grid-template-columns : 1fr;
	row-gap : 0;
}

.client_label h3
{
	line-height : 1;
}

.client_label img
{

	display : none;
}

.client_info
{
	padding : 0;
}

.client_info div
{
	display : none;

	gap : 0;
}

.client
{

	margin : 0;
	width : 95vw;
}

}
/* end mobile responsive */

 /*  responsive tablet  */
  @media only screen and (min-width: 40.063em) and (max-width: 64em) 
  /* min-width 641px and max-width 1024px, use tablet-only  */

{

header ,
.top ,
.tel
.logo
{
	grid-template-columns : 1fr;
}

header
{
	height : 100px;
	padding : 0;
}

.top
{
	width : 100%;

	grid-template-columns : repeat(3,1fr);
}

.logo
{
	grid-column : 1;
	place-items : center;
}

.logo img
{
	display : none;
}

.logo div
{
	display : grid;
}

.chat
{
	grid-column : 2;
}

.tel
{
	display : none;
}

/*  hamburger tablet */
.navicon
{

	position : absolute;
	right : 3.2rem;
	top : 2.5rem;
	z-index : 9999;

	display : grid;
	height : 30px;

	margin : auto;

	width : 32px;

	cursor : pointer;

	grid-column : 3;
}

.hamburger ,
.hamburger::before
{
	transition : all .2s ease-in-out;
}

.hamburger:nth-child(2) ,
.hamburger:nth-child(2)::before
{
	transition : all .2s ease-in-out .1s;
}

.hamburger:nth-child(3) ,
.hamburger:nth-child(3)::before
{
	transition : all .2s ease-in-out .2s;
}

.navicon.active .hamburger ,
.navicon.active .hamburger::before
{
	transition : all .2s ease-in-out .2s;
}

.navicon.active .hamburger:nth-child(2) ,
.navicon.active .hamburger:nth-child(2)::before
{
	transition : all .2s ease-in-out .1s;
}

.navicon.active .hamburger:nth-child(3) ,
.navicon.active .hamburger:nth-child(3)::before
{
	transition : all .2s ease-in-out 0s;
}

.hamburger
{
	height : 3px;

	margin : auto 0;
	width : 32px;

	border-radius : 2px;

	background : #000;

	list-style-type : none;
}

.hamburger::before
{

	left : -8px;
	position : absolute;

	display : block;
	height : 4px;

	width : 4px;

	border-radius : 3px;

	background : #000;

	content : '';
}

.hamburger:nth-child(3)
{

	margin-right : 8px;
	width : 24px;
}

.navicon.active .hamburger
{
	width : 0;
}

.navicon.active .hamburger::before
{

	left : 12px;
}

/*  nav fullscreen responsive tablet  */
.menu
{
	left : -100%;
	position : fixed;
	top : 0;
	z-index : 6000;

	display : grid;
	height : 100vh;

	padding-bottom : 100px;

	width : 100%;

	background : #fff;

	text-align : left;

	opacity : 0;
	transform : scale(1);

	transition : all 500ms cubic-bezier(.68, -.55, .265, 1.55);
	max-width : 100%;

	place-items : center;
}

.menu.open
{

	left : 0;
	opacity : 1;
}

.menu.open ul li
{
	opacity : 1;
	transform : translateX(0);
}

.nav li:before ,
.nav li:first-child:before
{
	content : '';
}

.menu-item ,
.menu-item.active
{

	display : flex;

	width : 100%;

	border-bottom : none;
	flex-direction : column;
}

.menu-item a
{

	display : inline-grid;
	padding : .6rem 0;
}

.menu-item a:hover
{
	transition : transform .5s linear;
}

ol.sub-menu
{

	position : relative;

	border-bottom-left-radius : none;

	border-bottom-right-radius : none;
	transform : none;
	transform-origin : none;

	transition : none;
	max-width : 100%;

	min-width : 100%;
}

ol.sub-menu .menu-item
{

	display : flex;

	width : 100%;
	flex-direction : column;
}

ul.nav
{
	display : inline-grid;

	height : 70vh;
	padding : 6rem 2rem;
	visibility : visible;
}

ul.nav li.nav_foot
{

	display : inline-grid;

	font-size : .8rem;
}

.top_fav
{

	margin-left : -8px;
	padding : 3rem 0;
	justify-content : flex-start;
}
/*  end nav fullscreen responsive tablet  */

/*  responisve home tablet  */
.service_area
{

	margin : 2rem auto;
	padding : 0 2rem;
	width : 90vw;

	grid-template-columns : repeat(2,44vw);
}

.service_card
{
	grid-template-rows : auto auto auto;
}

.service_card h1
{

	font-size : 1.424rem;
}

.service_link
{

	width : 90vw;

	grid-column : 1;
}

.doctor_area
{
	padding : 1rem 0;
}

.profile
{
	margin : 1rem 0;
}

.pacient_area
{
	
	margin : 0;
	padding : 0 4rem;
	width : 90vw;

	grid-template-columns : repeat(2,44vw);
}

.pacient_area h3
{
	padding-top : 2rem;
}

.pacient_card
{
	display : grid;

	grid-template-columns : auto;
	grid-template-rows : 60px auto;
}

.about_area
{
	padding : 1rem 0;
}

.about
{
	
	padding : 0 1rem;
	width : 90vw;

	grid-template-columns : repeat(2,44vw);
}

.txt
{
	width : 90%;
}

footer
{
	margin : 0;

	grid-template-columns : 1fr;
}

.form_area
{

	grid-row : 1;
	min-height : 400px;
}

.form_area input ,
.form_area textarea ,
#submit
{
	width : 50%;
}

.brand
{
	margin-top : 4rem;

	grid-template-columns : auto auto;
}

.brand_logo
{
	width : 50%;
}

.brand_logo h3
{
	padding : 0;
}

.copyright
{

	margin-left : 40%;
	padding-bottom : 3rem;
	width : 70%;
}

.up
{

	right : 1rem;
}

/*  responsive page service tablet   */
.main_service
{

	margin : 2rem 0;
	padding : 0 2rem;

	gap : 1rem;
	grid-template-columns : 1fr;
}

.icon_list
{

	left : 1.5rem;
}
  
/*  responsive page doctor tablet   */
.timeline
{

	margin : 2rem 0;
	padding : 0 2rem;
}

.timeline img
{
	display : grid;

	margin : 1rem;
	padding : 0;
}

.tree
{
	grid-template-columns : 1fr;
}

.tree::before
{

	left : 1rem;
}

.timeline h2 ,
.timeline h3.pro ,
.timeline h5
{

	display : block;

	padding-left : 1rem;

	line-height : 1;

	text-align : left;
}

.timeline-content h3
{
	line-height : .9;
}

.timeline-right
{
	grid-column : 1/1;
	justify-items : start;
}

.timeline-left
{
	grid-column : 1/1;
	justify-items : start;
}

.timeline-right-0 ,
.timeline-left-0
{

	display : none;
}

.marker-r
{

	left : .5rem;

	margin-right : -10px;
}

.marker-l
{

	left : 1rem;
}

.tree div:nth-child(even) > .timeline-content
{

	margin-top : 0;
	padding : 0 2rem;
	width : 80%;

	text-align : left;
}

.diploma img
{

	width : 200px;
}

/*  responsive page price tablet   */
.price_title
{
	padding : 0;

	grid-template-columns : 1fr;
}

.price_title img
{
	display : none;
}

.price_info
{
	padding : 2rem;
}

.price
{

	position : relative;
	z-index : 0;

	margin : 2rem;

	padding : 1rem;
}

a.accordion
{

	padding : 1.5rem 2rem;

	font-size : .825rem;
	line-height : 1;
}

.price tr
{
	grid-template-columns : 1fr 1fr 1fr;
}

table
{
	line-height : 1.3;
}

th
{

	padding : .6rem;
}

td
{
	padding : .4rem;
}

/*  responsive page clients tablet   */
.client_label
{

	text-align : left;

	column-gap : 0;
	grid-template-columns : 1fr;
	row-gap : 0;
}

.client_label h3
{
	line-height : 1;
}

.client_label img
{

	display : none;
}

.client_info div
{
	gap : 0 .5rem;
}

.client
{
	width : 80vw;
}

}