/* css reset | @yojeero | https://github.com/yojeero */

*, *::before, *::after { box-sizing: border-box; } 
html { box-sizing: border-box; font-size: 100%; line-height: 1.3; text-size-adjust: 100%; } 
body { height: 100vh; } 

img, picture { max-width: 100%; display: block; } 
blockquote, dl, dd, h1, h2, h3, h4, h5, h6, hr, figure, p, pre { margin: 0; }

h1, h2, h3, h4, button, input, label { line-height: 1.1; } 
h1, h2, h3, h4, h5, h6 {  text-wrap: balance; font-size: inherit; font-weight: inherit; }

input, button, textarea, select { font-family: inherit; font-size: inherit; } 

ol, ul { list-style: none; margin: 0; padding: 0; }
a { color: currentColor; cursor: pointer; text-decoration: none; }

/* text style */
h1,h2,h3,h4,h5
{
    font-family: 'Roboto';
    font-weight: 400;
    line-height: 1.3;
    text-transform: none;

    margin: 1.38rem 0;

    color: #191C32;
}

h1 { font-size: 4.209rem; margin-top: 0; }
h2 { font-size: 3.157rem; }
h3 { font-size: 2.369rem; }
h4 { font-size: 1.777rem; }
h5 { font-size: 1.333rem; }

button ,
.button a
{
	font-family : 'Roboto','Segoe UI','Helvetica Neue';
	font-size : .75rem;

	display : flex;
	align-items : center;
	justify-content : center;

	width : 12rem;
	height : 3rem;

	cursor : pointer;
	text-align : center;
	text-decoration : none;
	letter-spacing : .0406rem;
	text-transform : uppercase;

	border : none;
	border-radius : 3px;
}

/* 	main  */

body
{
	font-family : 'Roboto','Segoe UI','Helvetica Neue', system-ui, -apple-system, Ubuntu, Cantarell,Noto Sans, sans-serif;
	font-size : 1rem;
	font-weight : 400;
	line-height : 1.75;

	letter-spacing : 1px;

	color : #191c32;
	background : #f8fbfb;
}

.page
{
	display : grid;

	width : 100%;
	max-width : 100vw;
	height : 100%;

	margin : auto;

	grid-template-areas : 
    'header'
	'pagepic'
	'service'
	'doctor'
	'pacient'
	'about'
	'testimonial'
	'map'
	'footer';
}

/*  header  */

header
{
	display : grid;

	width : 100%;
	max-width : 1440px;
	height : 100%;

	margin : auto;
	padding-top : 2rem;

	grid-area : header;
	grid-template-columns : 1fr;
}

.top
{
	display : grid;
	grid-template-columns : repeat(4, auto);
}

.logo
{
	display : grid;

	margin : auto;
	padding : 1rem;

	place-items : center;
}

.logo a
{
	color : #000;
}

.logo img
{
	display : grid;

	width : 8rem;
	height : 8rem;
	padding : .4rem;

	border : 1px dashed #98cbde;
	border-radius : 50%;
	background : #fff;
}

.logo div
{
	font-size : calc(1.125rem + .5vw);
	line-height : 24px;

	display : none;

	text-align : left;

	grid-column : 2/2;
}

.tel ,
.chat
{
	display : grid;

	padding : 0;

	place-items : center;
}

.tel div
{
	font-size : 1.777rem;
	line-height : 1.5;

	display : grid;

	text-align : left;
}

.tel div span
{
	font-size : .875rem;

	display : grid;
    justify-items: center;
}

.whatsapp
{
	display : grid;

	width : 5rem;
	height : 5rem;

	border : 1px dashed #98cbde;
	border-radius : 50%;
	background : #fff;

	place-items : center;
}

.whatsapp svg
{
	display : grid;

	width : 3rem;
	height : 3rem;

	object-fit : cover;
}

.whatsapp svg:hover
{
	width : 3.4rem;
	height : 3.4rem;

	transition : all .3s ease;
}

.telegram
{
	display : grid;

	width : 5rem;
	height : 5rem;

	place-items : center;
}

.telegram svg
{
	display : grid;

	width : 4rem;
	height : 4rem;

	object-fit : cover;
}

.telegram svg:hover
{
	width : 3.4rem;
	height : 3.4rem;

	transition : all .3s ease;
}

/*  navigation  */

.menu
{
	position : relative;
    display : grid;

	width : 100%;
	margin : auto;

	padding-bottom : 19px;

	place-items : center;
}

.menu ul
{
	display : flex;
	align-items : center;
	flex-flow : row nowrap;

	height : 28px;
}

.menu-item
{
	display : flex;
	align-items : center;
	justify-content : center;

	transition : .3s ease-in-out;
}

.menu-item:hover ,
.menu-item.active
{
	border-bottom : 1px solid #000;
}

ol.sub-menu .menu-item ,
ol.sub-menu .menu-item:hover ,
ol.sub-menu .menu-item.active
{
	border-bottom : none;
}

.nav li a
{
	font-size : 1.125rem;

	cursor : pointer;
	text-transform : uppercase;

	color : #000;
}

.nav li:before
{
	content : ' / ';
}

.nav li:first-child:before
{
	content : '';
}

.nav li .active ,
.nav li a:hover
{
	color : #ff5d8f;
}

ol.sub-menu
{
	position : absolute;
	top : 100%;

	min-width : 200px;
	max-width : 980px;

	margin-top : 1px; 
	margin-bottom : 8px;

	list-style-type : none;

	transition : transform .5s linear;
	transform : rotateX(-90deg);
	transform-origin : top;

	border-bottom-right-radius : 3px;
	border-bottom-left-radius : 3px;
	background : #fff;
}

ol.sub-menu .menu-item a
{
	padding : 1rem;
}

ol.sub-menu a
{
	font-size : .925rem;

	color : #000;
}

ol.sub-menu a:hover ,
ol.sub-menu a:visited
{
	font-weight : 700;

	color : #000;
}

ol.sub-menu li
{
	margin-top : 1px;	
	margin-bottom : 4px;
}

ol.sub-menu .menu-item ,
ol.sub-menu .menu-item:hover ,
ol.sub-menu .menu-item:active
{
	border : solid 1px #000;
	border-bottom : solid 1px #000;
}

ol.sub-menu li:before
{
	content : '';
}

.menu-item:hover .sub-menu
{
	z-index : 990;
	transform : rotateX(0deg);
}

.menu-item a
{
	display : flex;
	align-items : center;
	flex-direction : column;

	width : 100%;
	height : 100%;

	padding : 1.25rem;

	text-decoration : none;
	text-transform : uppercase;
}

.nav li.nav_foot
{
	display : none;
}

.top_fav
{
	display : flex;
	align-items : center;
	justify-content : center;

	margin-bottom : 5px;
	margin-left : 2rem;
}

.top_fav svg
{
	display: flex;

    width : 1.25rem;
	height : 1.25rem;

	margin : 0 .6rem;   

	transition : all .3s ease;

	fill : #98cbde;
}

.top_fav svg:hover
{
	width : 1.5rem;
	height : 1.5rem;

	fill : #ff5d8f;
}

.navicon
{
	display : none;
}

/*  all pages HEADER PIC */

.page_pic
{
	display : grid;

	width : 100vw;
	height : 300px;

	margin : auto;

	background : url('../img/home.webp') no-repeat bottom center, #fff;

	grid-area : pagepic;
	grid-template-columns : 1fr;
}

/* 	service	 */

.service_area
{
	display : grid;

	width : 100vw;
	max-width : 1080px;
	margin : 4rem auto;

	gap : 2rem;
	grid-area : service;
	grid-template-columns : repeat(4,1fr);
}

.service_card
{
	display : grid;

	grid-template-rows : 6.5rem 6rem 7.5rem;
}

.service_card h4
{
	line-height : .9;
}

.service_cicle
{
	display : grid;

	width : 6rem;
	height : 6rem;

	border : 2px dashed #98cbde;
	border-radius : 50%;
	background : #fff;

	place-items : center;
}

.service_cicle svg
{
	display : grid;

	width : 3rem;
	height : 3rem;

	object-fit : cover;
}

.service_link
{
	display : grid;

	grid-column : 1 / -1;
	place-items : center;
}

.service_link a
{
	color : #fff;
	border : none;
	background : #2ecc71;
	box-shadow : #e0e0e0 0 12px 18px;
}

.service_link a:hover
{
	transition : all .3s ease;

	color : #000;
	border : 1px solid #2ecc71;
	background : #fff;
	box-shadow : #e0e0e0 0 2px 4px;
}

/* doctor */

.doctor_area
{
	display : grid;

	width : 100vw;
	height : 100%;
	padding : 3rem 0;

	background : url('../img/home.webp') no-repeat bottom center, #fff;

	grid-area : doctor;
}

.doctor
{
	display : grid;

	width : 100%;
	max-width : 650px;
	height : 100%;
	margin : auto;

	grid-template-columns : 1fr 1fr;
	place-items : center;
}

.profile
{
	font-size : .7rem;

	width : 300px;
	height : 420px;
	padding : 3rem 2rem;

	text-align : center;
	text-transform : uppercase;

	color : #000;
	border : 1px solid #fff;
	border-radius : 3px;
	background : rgba(255, 255, 255, .96);
	box-shadow : #e0e0e0 0 12px 18px;
}

.profile img
{
	width : 130px;
	height : 130px;

	margin : auto;
	margin-bottom : 2rem;

	object-fit : cover;
}

/*  clients  */

.pacient_area
{
	display : grid;

	width : 100vw;
	max-width : 1080px;

	margin : auto;
	padding-top : 3rem;

	gap : 2rem;
	grid-area : pacient;
	grid-template-columns : repeat(3, minmax(200px,auto));
	grid-template-rows : auto;
}

.pacient_card
{
	display : grid;

	color : #424242;

	grid-template-columns : 80px auto;
	grid-template-rows : auto auto;
}

.pacient_area h3.mark
{
	display : grid;
	grid-column : 1 / -1;
	place-items : center;
}

.pacient_area h3.mark::after
{
	position : relative;

	display : grid;

	width : 6rem;
	height : 1px;

	margin-top : 1rem;

	content : '';

	background : #ff5d8f;

	place-items : center;
}

.pacient_card .title
{
	font : 400 1rem/1.75 'Segoe UI','Helvetica Neue';
	font-size : .825rem;
	font-weight : 700;

	margin-bottom : .7rem;

	text-transform : uppercase;

	color : #424242;
}

.pacient_card svg
{
	display : grid;

	width : 3.125rem;
	height : 3.125rem;

	fill : #98cbde;
	grid-row : 1/3;
	object-fit : cover;
	stroke : #98cbde;
}

/*  about  */

.about_area
{
	display : grid;

	width : 100vw;
	height : 100%;

	padding : 3rem 0;

	grid-area : about;
}

.about
{
	display : grid;

	width : 100%;
	max-width : 1080px;
	height : 100%;

	margin : auto;

	gap : .5rem;
	grid-template-columns : repeat(3, 1fr);
}

.about h3.mark
{
	display : grid;

	padding-bottom : 1rem;

	text-align : center;

	grid-column : 1 / -1;
	place-items : center
}

.about h3.mark::after
{
	position : relative;

	display : grid;

	width : 6rem;
	height : 1px;

	margin : 1rem;

	content : '';

	background : #ff5d8f;

	place-items : center;
}

.office
{
	position : relative;
}

.txt
{
	padding : 1rem;
}

.txt div
{
	display : flex;
	flex-flow : row nowrap;
	justify-content : space-between;
}

.office div a ,
.office div span
{
	color : #212121;
}

.office a:hover
{
	color : #ff5d8f;
}

.office h4 span
{
	color : #2ecc71;
}

.office p span
{
	text-align : right;
}

.office img
{
	width : auto;
	height : 200px;

	object-fit : cover;
	object-position : center;
}

.about label[for]
{
	cursor : pointer;
}

.about input[type='checkbox']
{
	display : none;
}

.lightbox
{
	position : fixed;
	z-index : 14;
	top : 0;
	left : 0;

	overflow : auto;

	width : 100%;
	height : 100%;

	transition : transform .75s ease-out;
	transform : scale(0);
}

.lightbox img
{
	position : fixed;
	top : 50%;
	left : 50%;

	width : auto;
	height : 700px;
	padding : 0;

	transform : translate(-50%, -50%);
}

.about input[type='checkbox']:checked + .lightbox
{
	transform : scale(1);
}

.office figure
{
	position : absolute;
	z-index : 7;
	top : 5rem;
	left : 45%;

	width : 2.4rem;
	height : 2.4rem;

	border : none;
	border-radius : 50% 50% 50% 0;
	background : #98cbde;
	box-shadow : #212121 0 12px 18px;
}

.office label svg
{
	position : absolute;
	z-index : 8;
	top : 0;
	left : 0;

	width : 2.4rem;
	height : 2.4rem;

	transition : all .3s ease;

	border : none;

	fill : #fff;
	stroke : #fff;
}

.office label svg:hover
{
	fill : #ff5d8f;
	stroke : #ff5d8f;
}

.mailtoui-modal
{
	background : #f8fbfb;
}

/* 	testimonial  */

.testimonial
{
	display : grid;

	width : 100vw;
	height : 100%;

	padding : 3rem;

	background : #fff;

	grid-area : testimonial;
	grid-template-columns : 1fr;
}

.talk
{
	position : relative;

	display : flex;
	overflow : hidden;
	align-items : flex-end;
	flex-flow : row nowrap;
	justify-content : center;

	height : 500px;
}

.talk_nav
{
	z-index : 10;

	width : 14px;
	height : 14px;

	margin : 2rem 12px;

	cursor : pointer;

	border-radius : 50%;
	outline : 7px solid #c7ecee;
	outline-offset : -7px;
	background : transparent;
	box-shadow : #726659, #d6d2c4;

	appearance : none;
	backface-visibility : hidden;
}

.talk_nav:checked
{
	animation : check .4s linear forwards;
} 

.talk_nav:checked:nth-of-type(1) ~ .talk_wrap
{
	left : 0;
} 

.talk_nav:checked:nth-of-type(2) ~ .talk_wrap
{
	left : -100%;
} 

.talk_nav:checked:nth-of-type(3) ~ .talk_wrap
{
	left : -200%;
}

.talk_wrap
{
	position : absolute;
	top : 0;
	left : 0;

	display : flex;
	flex-flow : row nowrap;

	width : 300%;
	height : 100%;

	transition : left .4s;
}

.talk_content
{
	display : flex;
	align-items : center;
	flex : 1;
	flex-flow : column nowrap;
	justify-content : center;

	height : 100%;
	padding : 2rem;

	text-align : center;
}

.talk_content img
{
	display : flex;

	width : 180px;
	height : 180px;

	border-radius : 50%;
}

.talk_label
{
	margin : 2rem 0 1rem;

	text-transform : uppercase;
}

.talk_txt
{
	max-width : 360px;
	margin-bottom : 3rem;

	color : rgba(114, 102, 89, .5);
}

@keyframes check
{
	50% { outline-color : #726659; box-shadow : 0 0 0 12px #c7ecee, 0 0 0 36px rgba(199,236,238, .2); }
	100% { outline-color : #726659; box-shadow : 0 0 0 0 #c7ecee, 0 0 0 0 rgba(199,236,238, .2); }
}

/*  map  */

#map
{
	display : grid;

	width : 100vw;
	height : 540px;

	grid-area : map;
	grid-template-columns : 1fr;
}

/* 	footer  */

footer
{
	display : grid;

	width : 100vw;
	height : 100%;
	min-height : 600px;

	padding : 0;

	grid-area : footer;
	grid-template-columns : 1fr 1fr;
	place-items : center;
}

.brand
{
	display : grid;

	width : 100%;
	height : 300px;

	margin : auto;

	grid-template-columns : 1fr auto;
	grid-template-rows : auto auto;
	place-items : center;
}

.brand_logo
{
	display : grid;

	color : #000;

	grid-column : 1/-1;
	grid-row : 1;
	place-items : center;
}

.brand_logo img
{
	display : grid;

	width : 150px;
	height : 150px;

	background : #fff;

	grid-column : 1/1;
}

.brand_logo h3
{
	display : grid;

	padding : 0 3rem;

	grid-column : 2/2;
}

.brand_logo h3 span
{
	font-size : .875rem;
	color : #909090;
}

.copyright
{
	font-size : .75rem;
	font-weight : 400;

	display : grid;

	width : 41%;
	margin : auto;
	margin-top : 2.4rem;
	padding : 1rem;

	border-top : thin solid #757575;

	grid-row : 2;
}

.copyright a
{
	font-size : .7rem;
	font-weight : 700;

	padding : 0 .5rem;

	text-transform : uppercase;

	color : #000;
}

.copyright a:hover
{
	color : #ff5d8f;
}

.copy_fav
{
	display : grid;

	width : 4rem;

	box-shadow : #bdbdbd 0 12px 18px;

	grid-column : 2;
	grid-row : 1/3;
}

.svg_box
{
	display : grid;

	width : 4rem;
	height : 4rem;

	background : #2ecc71;

	place-items : center;
}

.svg_box svg
{
	width : 1.5rem;
	height : 1.5rem;

	list-style-type : none;

	fill : #f9feff;
	stroke : none;
}

.svg_box svg:hover
{
	width : 1.3rem;
	height : 1.3rem;

	fill : #fff;
	stroke : none;
}

.form_area
{
	display : grid;

	width : 100%;
	min-height : 600px;

	background : #edede9;
}

.form_area form
{
	display : grid;

	width : 90%;

	margin : auto;

	place-items : center;
}

.form_area input
{
	font-size : .875em;

	width : 52%;
	height : 50px;

	padding : 0 1rem;

	transition : all .3s ease-in-out;

	color : #000;
	border : solid 1px #909090;

	border-bottom : none;
	outline : none;
	background : transparent;
}

.form_area input:hover
{
	cursor : pointer;

	color : #000;
	background-color: #fff;
}

.form_area textarea
{
	font-size : .875em;

	width : 52%;
	height : 110px;

	padding : 1rem;

	cursor : pointer;
	transition : all .3s ease-in-out;

	color : #000;
	border : solid 1px #909090;
	outline : none;
	background : transparent;
}

.form_area textarea:hover
{
	color : #000;
	background-color: #fff;
}

#submit
{
	font-size : .875em;

	width : 52%;

	margin : 0;
	padding : 0;

	cursor : pointer;
	text-transform : uppercase;

	color : #000;
	border : solid 1px #909090;
	border-top : none;
	outline : none;
}

#submit:hover
{
	color : #000;
	background-color: #fff;
}

.up
{
	position : fixed;
	z-index : 999;
	right : 3rem;
	bottom : 3rem;

	display : none;

	cursor : pointer;
}

.up .svg_cicle
{
	display : grid;

	width : 3rem;
	height : 3rem;

	border-radius : 50%;
	background : #2ecc71;

	place-items : center;
}

.up .svg_cicle svg
{
	width : 1.5rem;
	height : 1.5rem;

	fill : none;
	stroke : #fff;
	stroke-width : 2;
}

.up .svg_cicle svg:hover
{
	width : 1.75rem;
	height : 1.75rem;
}

/* 	loader  */

.loader
{
	position : absolute;
	z-index : 9999;
	top : 0;
	right : 0;
	bottom : 0;
	left : 0;

	display : flex;
	align-items : center;
	justify-content : center;

	margin : auto;

	background : #f8fbfb;
}

.loader svg
{
	position : relative;

	display : flex;

	width : 80px;
	height : 80px;

	color : #000;

	fill : currentColor;
	stroke : currentColor;
	stroke-width : 0;
}

/*  PAGE SERVICE  */

.page-service
{
	display : grid;

	width : 100%;
	max-width : 100vw;
	height : 100%;

	margin : auto;

	grid-template-areas : 
    'header'
	'pagepic'
	'main_service'
	'footer';
}

.main_service
{
	display : grid;

	width : 100vw;
	max-width : 1080px;

	margin : auto;
	padding : 2rem 0 5rem;

	gap : 4rem;
	grid-area : main_service;
	grid-template-columns : repeat(3, minmax(200px,auto));
	grid-template-rows : auto;
}

.col_service
{
	display : grid;
	align-content : start;
	align-items : start;

	grid-template-columns : auto;
	grid-template-rows : auto auto;
}

.col_service h3
{
	display : grid;

	text-align : center;

	place-items : center;
}

.col_service h3::after
{
	position : relative;

	display : grid;

	width : 3rem;
	height : 1px;
	margin-top : 1rem;

	content : '';

	background : #ff5d8f;

	place-items : center;
}

.col_service ul
{
	display : grid;

	padding-left : 3rem;

	border-left : 1px solid #000;
}

.col_service ul li
{
	font-size : 1rem;

	display : grid;
	display : list-item;

	padding : 4px 0 4px 8px;
}

.col_service ul li::marker
{
	padding : 0 .5rem;

	content : counter(list-item) '› ';

	color : #ff5d8f;
}

/*  PAGE DOCTOR  */

.page-doctor
{
	display : grid;

	width : 100%;
	max-width : 100vw;
	height : 100%;

	margin : auto;

	grid-template-areas : 
    'header'
	'pagepic'
	'timeline'
	'diploma'
	'footer';
}

.timeline
{
	display : grid;

	width : 100vw;
	max-width : 1080px;
	height : 100%;

	margin : auto;
	padding-top : 2rem;

	grid-area : timeline;
	grid-template-columns : 1fr;
	grid-template-rows : auto;
}

.timeline img
{
	display : grid;

	width : 164px;
	height : 164px;

	margin : auto;
	padding : 1rem;

	place-items : center;
}

.timeline h2
{
	display : grid;

	text-align : center;

	place-items : center;
}

.timeline h2::after
{
	position : relative;

	display : grid;

	width : 6rem;
	height : 1px;
	margin-top : 1rem;

	content : '';

	background : #ff5d8f;

	place-items : center;
}

.timeline h3.pro
{
	display : grid;

	padding : 1rem 0;

	text-align : center;
}

.timeline h5
{
	display : grid;

	text-align : center;
}

.tree
{
	position : relative;

	display : grid;
	overflow : hidden;

	width : 100%;
	height : 100%;

	margin : auto;

	grid-template-columns : 1fr 1fr;
}

.tree::before
{
	position : absolute;
	z-index : 1;
	top : 0;
	left : 50%;

	width : 2px;
	height : 100%;

	content : '';

	background : #d2e3ed;
}

.timeline-right
{
	position : relative;

	display : grid;

	width : 100%;

	grid-column : 2/2;
	justify-items : start;
	place-items : center;
}

.timeline-left
{
	position : relative;

	display : grid;

	width : 100%;

	grid-column : 1/1;
	justify-items : end;
	place-items : center;
}

.timeline-right-0 ,
.timeline-left-0
{
	min-height : 2rem;
}

.marker-r
{
	position : absolute;
	z-index : 2;
	right : 100%;

	width : 18px;
	height : 18px;
	margin-right : -10px;

	border : 2px solid #d2e3ed;
	border-radius : 50%;
	background : #f9feff;
}

.marker-l
{
	position : absolute;
	z-index : 3;
	left : 100%;

	width : 18px;
	height : 18px;

	margin-left : -8px;

	border : 2px solid #d2e3ed;
	border-radius : 50%;
	background : #f9feff;
}

.timeline-content
{
	width : 80%;
	padding : 2rem;

	color : #726659;
}

.timeline-content h3
{
	margin : .5rem 0;
}

.timeline-content span
{
	font-size : .875rem;

	padding : 2px 8px 4px 8px;

	color : #fff;
	border-radius : 3px;
	background : #2ecc71;
}

.timeline-content p
{
	font-size : .9375rem;

	margin-top : .5rem;

	color : #000;
}

.tree div:nth-child(odd) > .timeline-content
{
	margin-top : 0;

	text-align : left;
}

.tree div:nth-child(even) > .timeline-content
{
	margin-top : -16rem;

	text-align : right;
}

.diploma
{
	display : grid;

	width : 100%;
	max-width : 900px;
	height : 100%;

	margin : auto;
	padding : 4rem 0 ;

	gap : .5rem;
	grid-area : diploma;
	grid-template-columns : repeat(3,1fr);
	place-items : center;
}

.diploma img
{
	width : 240px;
	height : auto;

	border : 11px solid #f8fbfb;
	background : #f8fbfb;
	box-shadow : inset 0 0 6px #e0e0e0,
	20px 20px 36px #e0e0e0;

	object-fit : cover;
	object-position : center;
}

/*  PAGE PRICE  */

.page-price
{
	display : grid;

	width : 100%;
	max-width : 100vw;
	height : 100%;

	margin : auto;

	grid-template-areas : 
    'header'
	'pagepic'
	'price_title'
	'price'
	'price_info'
	'footer';
}

.price_title
{
	display : grid;

	width : 100vw;
	max-width : 900px;

	margin : auto;
    padding : 3rem 0;    

	grid-area : price_title;
	grid-template-columns : 1fr 1fr ;
}

.price_title img
{
	display : grid;

	height : 240px;

    border-radius: 50%;

	margin : auto;

	object-fit : cover;
	object-position : center;
}

.price_title div
{
	display : grid;   

	padding : 2rem;
}

.price_title div h3
{
	display : grid;

	text-align : left;	
}

.price_title div h3::after
{
	position : relative;

	display : grid;

	width : 3rem;
	height : 1px;

	margin-top : 1rem;

	content : '';

	background : #ff5d8f;

	place-items : center;
}

.price_info
{
	display : grid;

	width : 100vw;
	max-width : 900px;

	margin : auto;
	padding : 4rem 2rem;

	grid-area : price_info;
	grid-template-columns : 1fr;
}

.price_info ul li
{
	font-size : .825rem;

	display : grid;
	display : list-item;

	padding : 4px 0 4px 8px;
}

.price_info ul li::marker
{
	content : counter(list-item) '› ';

	color : #ff5d8f;
}

.price
{
	display : grid;

	width : 100vw;
	max-width : 900px;
	height : auto;

	margin : auto;
	padding : 2rem ;

	transition : all .3s cubic-bezier(.25,.8,.25,1);

	border : 1px solid #fff;
	border-top : 3px solid #ff5d8f;
	border-radius : 5px;
	background : #f8fbfb;
	box-shadow : 0 14px 28px #eee;

	grid-area : price;
	grid-template-columns : 1fr;
	grid-template-rows : auto;
	place-items : center;
}

.price:hover
{
	box-shadow : 0 2px 4px #eee;
}

a.accordion
{
	font-size : 1rem;
	font-weight : 400;
	line-height : .5rem;

	position : relative;

	width : 100%;
	padding : 2rem;

	cursor : pointer;
	text-align : left;
	text-decoration : none;
	letter-spacing : 2px;
	text-transform : uppercase;

	color : #000;
	border-top : 1px dotted #98cbde;
}

a.accordion:nth-child(1)
{
	border-top : none;
}

a.accordion:hover
{
	font-weight : 700;
}

.panel
{
	overflow : hidden;

	max-height : 0;

	transition : max-height .4s ease-out;

	color : #000;
}

.accordion svg
{
	position : absolute;
	top : 50%;
	right : 2rem;

	width : 1.25rem;
	height : 1.25rem;

	transition : all .3s ease;
	transform : translateY(-50%);

	fill : none;
	stroke : #98cbde;
}

.accordion.active svg
{
	transform : translateY(-50%) rotate(180deg)
}

thead ,
tbody ,
tr
{
	display : contents;
}

table
{
	line-height : 1.4;

	width : 100%;
	height : 100%;

	border-top : 1px solid #eff2e9;
	border-right : 1px solid #eff2e9
}

tr
{
	display : grid;

	grid-template-columns : 1fr 3fr 1fr;
}

th ,
td
{
	padding : 1rem;

	text-align : center;

	border-bottom : 1px solid #eff2e9;
	border-left : 1px solid #eff2e9;
}

th
{
	font-size : 1rem;
	font-weight : 400;

	text-align : center;
	text-transform : lowercase;

	color : #fff;
	background : #2ecc71;
}

td
{
	font-size : .875rem;
}

td.title
{
	font-weight : 700;
}

td:nth-child(1)
{
	text-align : left;
}

/*  PAGE CLIENTS  */

.page-client
{
	display : grid;

	width : 100%;
	max-width : 100vw;    
	height : 100%;

	margin : auto;

	grid-template-areas : 
    'header'
	'pagepic'
	'client_label'
	'client'
	'client_info'
	'footer';
}

.client_label
{
	display : grid;

	width : 100vw;
	max-width : 800px;

	margin : auto;
    padding : 3rem 0;    

	grid-area : client_label;
	grid-template-columns : 1fr 1fr;
}

.client_label img
{
	display : grid;

	height : 240px;

	margin : auto;

	border-radius : 50%;

	object-fit : cover;
	object-position : center;
}

.client_label div
{
	display : grid;

    padding : 2rem;
}

.client_label div h3
{
	display : grid;

	text-align : left;
}

.client_label h3::after
{
	position : relative;

	display : grid;

	width : 6rem;
	height : 1px;

	margin-top : 1rem;

	content : '';

	background : #ff5d8f;
}

.client
{
	display : grid;

	width : 100vw;
	max-width : 800px;
	height : 100%;

	margin : auto;	

	grid-area : client;
	grid-template-columns : 1fr;
	grid-template-rows : auto;
}

.rules
{
	display : grid;

	max-width : 100%;

	border : 1px solid #98cbde;

	grid-template-columns : auto 1fr;
	grid-template-rows : auto;
}

.rules dt
{
	font-size : 1.2rem;
	font-weight : 700;

	display : grid;

	padding : 2rem;

	color : #98cbde;

	place-items : center;
}

.rules dd
{
	display : grid;

	padding : 2rem;

	border-left : 1px solid #98cbde;
	background : #fff;
}

.rules dd ~ dt ,
.rules dd ~ dd
{
	border-top : 1px solid #98cbde;
}

.rules dt:nth-child(4n+1) ,
.rules dd:nth-child(4n+2)
{
	background : #f9feff;
}

.rules ul
{
	padding : 1rem 3rem;
}

.rules ul li
{
	display : grid;
	display : list-item;

	padding : .5rem 0 .5rem 1rem;
}

.rules ul li::marker
{
	padding : 0 .5rem;

	content : counter(list-item) '› ';

	color : #ff5d8f;
}

.client_info
{
	position : relative;

	display : grid;

	width : 100vw;
	max-width : 700px;

	margin : auto;
	padding : 4rem 0;

	grid-area : client_info;
	grid-template-columns : 1fr;
}

.client_info div
{
	display : grid;

	margin : auto;

	gap : 0 2rem;
	grid-template-columns : 1fr 1fr 1fr;
}

.client_info img
{
	display : grid;

	width : 135px;
	height : auto;

	padding : 1.25rem;

	border : 6px solid #f8fbfb;
	background : #f8fbfb;
	box-shadow : inset 0 0 6px #eee,
	20px 20px 36px #e0e0e0;
}

.client_info h3
{
	font-size : 2.5rem;

	padding : 1rem;

	text-align : center;

	color : #98cbde;
}

.client_info svg
{
	position : absolute;
	z-index : -1;
	bottom : 20%;
	left : 34%;

	width : 14rem;
	height : 14rem;

	opacity : .6;
}

/* END DESKTOP */


/*  RESPONSIVE MOBILE  */

@media only screen and (max-width: 40em)  /* max-width 640px */

{

header ,
.top ,
.tel
.logo
{
	grid-template-columns : 1fr;
	padding : 0;
}

header
{
	height : 100px;
	padding : 0;
}

.top
{
	width : 100vw;
	grid-template-columns : repeat(3,1fr);
}

.logo
{
	grid-column : 1;
	place-items : center;
}

.logo img
{
	display : none;
}

.logo div
{
	display : grid;
}

.chat
{
	grid-column : 2;
}

.tel
{
	display : none;
}

/*  hamburger MOBILE */

.navicon
{
	position : absolute;
	z-index : 9999;
	top : 2.5rem;
	right : 3.2rem;

	display : grid;

	width : 32px;
	height : 30px;

	margin : auto;

	cursor : pointer;

	grid-column : 3;
}

.hamburger ,
.hamburger::before
{
	transition : all .2s ease-in-out;
} 
.hamburger:nth-child(2) ,
.hamburger:nth-child(2)::before
{
	transition : all .2s ease-in-out .1s;
} 
.hamburger:nth-child(3) ,
.hamburger:nth-child(3)::before
{
	transition : all .2s ease-in-out .2s;
} 
.navicon.active .hamburger ,
.navicon.active .hamburger::before
{
	transition : all .2s ease-in-out .2s;
} 
.navicon.active .hamburger:nth-child(2) ,
.navicon.active .hamburger:nth-child(2)::before
{
	transition : all .2s ease-in-out .1s;
} 
.navicon.active .hamburger:nth-child(3) ,
.navicon.active .hamburger:nth-child(3)::before
{
	transition : all .2s ease-in-out 0s;
}

.hamburger
{
	width : 32px;
	height : 3px;

	margin : auto;

	list-style-type : none;

	border-radius : 2px;
	background : #000;
}

.hamburger::before
{
	position : absolute;
	left : -8px;

	display : block;

	width : 4px;
	height : 4px;

	content : '';

	border-radius : 3px;
	background : #000;
}

.hamburger:nth-child(3)
{
	width : 24px;
	margin-right : 8px;
}

.navicon.active .hamburger
{
	width : 0;
}

.navicon.active .hamburger::before
{
	left : 12px;
}

/*  nav fullscreen RESPONSIVE MOBILE */

.menu
{
	position : fixed;
	z-index : 6000;
	top : 0;
	left : -100vw;

	display : grid;

	width : 100%;
	max-width : 100vw;
	height : 100vh;

	padding-bottom : 100px;

	transition : all 500ms cubic-bezier(.68, -.55, .265, 1.55);
	transform : scale(1);
	text-align : left;

	opacity : 0;
	background : #fff;

	place-items : center;
}

.menu.open
{
	left : 0;
	opacity : 1;
}

.menu.open ul li
{
	transform : translateX(0);
	opacity : 1;
}

.nav li:before ,
.nav li:first-child:before
{
	content : '';
}

.menu-item ,
.menu-item.active
{
	display : flex;
	flex-direction : column;

	width : 100%;

	border-bottom : none;
}

.menu-item a
{
	display : inline-grid;
	padding : .6rem 0;
}

.menu-item a:hover
{
	transition : transform .5s linear;
}

ol.sub-menu
{
	position : relative;

	min-width : 100%;
	max-width : 100vw;

	transition : none;
	transform : none;
	transform-origin : none;

	border-bottom-right-radius : none;
	border-bottom-left-radius : none;
}

ol.sub-menu .menu-item
{
	display : flex;
	flex-direction : column;

	width : 100%;
}

ul.nav
{
	display : inline-grid;
	visibility : visible;

	height : 70vh;
	padding : 6rem 2rem;
}

ul.nav li.nav_foot
{
	font-size : .8rem;

	display : inline-grid;
}

.top_fav
{
	justify-content : flex-start;

	margin-left : -8px;
	padding : 3rem 0;
}

/*  end nav fullscreen RESPONSIVE MOBILE  */

/*  RESPONSIVE HERO  */

.hero
{
	height : auto;
}

.hero img
{
	width : auto;
	height : 400px;

	object-fit : cover;
}

/*  responisve home MOBILE  */

.service_area
{
	width : 90vw;
	
	margin : 2rem 0;
	padding : 0 2rem;

	grid-template-columns : 1fr;
}

.service_card
{
	grid-template-rows : auto auto auto;
}

.service_card h1
{
	font-size : 1.424rem;
}

.service_link
{
	width : 90vw;

	grid-column : 1;
}

.doctor_area
{
	padding : 1rem 0;
}

.doctor
{
	grid-template-columns : 1fr;
}

.profile
{
	margin : 1rem 0;
}

.pacient_area
{
	width : 90vw;
	
	margin : 2rem 0;
	padding : 0 2rem;

	grid-template-columns : 1fr;
}

.pacient_card
{
	display : grid;

	grid-template-columns : auto;
	grid-template-rows : 60px auto;
}

.about
{
	width : 90vw;

	padding : 0 1rem;

	grid-template-columns : 1fr;
}

.txt
{
	width : 90%;
}

footer
{
	margin : 0;

	grid-template-columns : 1fr;
}

.form_area
{
	min-height : 400px;

	grid-row : 1;
}

.form_area input ,
.form_area textarea ,
#submit
{
	width : 80%;
}

.brand
{
	margin-top : 2rem ;
	margin-bottom : 2rem;
}

.brand_logo
{
	width : 80%;
}

.brand_logo img
{
	width : 100px;
	height : 100px;
}

.brand_logo h3
{
	font-size : 1.75rem;
}

.copyright
{
	width : 100%;
	max-width : 90vw;

	padding : 1rem;
}

.copyright a
{
	padding : 0 .25rem;
}

.copy_fav
{
	display : none;
}

.up
{
	right : .5rem;
}

/*  responsive PAGE SERVICE MOBILE */

.main_service
{
	margin : 2rem 0;
	padding : 0 3rem;

	gap : 1rem;
	grid-template-columns : 1fr;
}

.icon_list
{
	left : 1.5rem;
}

.col_service ul
{
	padding : 0;
	border-left : none;
}
  
/*  responsive PAGE DOCTOR MOBILE  */

.timeline img
{
	display : grid;

	margin : 1rem;
	padding : 0;
}

.tree
{
	grid-template-columns : 1fr;
}

.tree::before
{
	left : 1rem;
}

.timeline h2 ,
.timeline h3.pro ,
.timeline h5
{
	line-height : 1;

	display : block;

	padding-left : 1rem;

	text-align : left;
}

.timeline-content h3
{
	line-height : .9;
}

.timeline-right
{
	grid-column : 1/1;
	justify-items : start;
}

.timeline-left
{
	grid-column : 1/1;
	justify-items : start;
}

.timeline-right-0 ,
.timeline-left-0
{
	display : none;
}

.marker-r
{
	left : .5rem;

	margin-right : -10px;
}

.marker-l
{
	left : 1rem;
}

.tree div:nth-child(even) > .timeline-content
{
	width : 80%;
	margin-top : 0;
	padding : 0 2rem;

	text-align : left;
}

.diploma
{
	padding : 0 2rem 2rem 0;

	grid-template-columns : repeat(2,1fr);
}

.diploma img
{	
	width : 200px;
}

/*  RESPONSIVE PAGE PRICE MOBILE  */

.price_title
{
	padding : 0;

	grid-template-columns : 1fr;
}

.price_title img
{
	display : none;
}

.price_info
{
	padding : 2rem;
}

.price
{
	position : relative;
	z-index : 0;

	padding : 1rem;
	margin : 0;

	width : 95vw;
	
	border : 1px solid #ff5d8f;
}

a.accordion
{
	font-size : .825rem;
	line-height : 1;

	padding : 1.5rem 2rem;
}

.price tr
{
	grid-template-columns : 1fr 1fr 1fr;
}

table
{
	line-height : 1.3;
}

th
{
	padding : .6rem;
}

td
{
	padding : .4rem;
}

/*  responsive PAGE CLIENTS MOBILE  */

.client_label
{
	padding : 0;

	text-align : left;

	column-gap : 0;
	grid-template-columns : 1fr;
	row-gap : 0;
}

.client_label h3
{
	line-height : 1;
}

.client_label img
{
	display : none;
}

.client_info
{
	padding : 0;
}

.client_info div
{
	display : none;

	gap : 0;
}

.client
{
	width : 95vw;

	margin : 0;
}

}

/* END MOBILE RESPONSIVE */


 /*  RESPONSIVE TABLET  */

  @media only screen and (min-width: 40.063em) and (max-width: 64em) 
  /* min-width 641px and max-width 1024px, use tablet-only  */

{

header ,
.top ,
.tel
.logo
{
	grid-template-columns : 1fr;
}

header
{
	height : 100px;
	padding : 0;
}

.top
{
	width : 100vw;

	grid-template-columns : repeat(3,1fr);
}

.logo
{
	grid-column : 1;
	place-items : center;
}

.logo img
{
	display : none;
}

.logo div
{
	display : grid;
}

.chat
{
	grid-column : 2;
}

.tel
{
	display : none;
}

/*  hamburger TABLET */

.navicon
{
	position : absolute;
	z-index : 9999;
	top : 2.5rem;
	right : 3.2rem;

	display : grid;

	width : 32px;
	height : 30px;

	margin : auto;

	cursor : pointer;

	grid-column : 3;
}

.hamburger ,
.hamburger::before
{
	transition : all .2s ease-in-out;
}

.hamburger:nth-child(2) ,
.hamburger:nth-child(2)::before
{
	transition : all .2s ease-in-out .1s;
}

.hamburger:nth-child(3) ,
.hamburger:nth-child(3)::before
{
	transition : all .2s ease-in-out .2s;
}

.navicon.active .hamburger ,
.navicon.active .hamburger::before
{
	transition : all .2s ease-in-out .2s;
}

.navicon.active .hamburger:nth-child(2) ,
.navicon.active .hamburger:nth-child(2)::before
{
	transition : all .2s ease-in-out .1s;
}

.navicon.active .hamburger:nth-child(3) ,
.navicon.active .hamburger:nth-child(3)::before
{
	transition : all .2s ease-in-out 0s;
}

.hamburger
{
	width : 32px;
	height : 3px;

	margin : auto 0;

	list-style-type : none;

	border-radius : 2px;
	background : #000;
}

.hamburger::before
{
	position : absolute;
	left : -8px;

	display : block;

	width : 4px;
	height : 4px;

	content : '';

	border-radius : 3px;
	background : #000;
}

.hamburger:nth-child(3)
{
	width : 24px;
	margin-right : 8px;
}

.navicon.active .hamburger
{
	width : 0;
}

.navicon.active .hamburger::before
{
	left : 12px;
}

/*  nav fullscreen RESPONSIVE TABLET  */

.menu
{
	position : fixed;
	z-index : 6000;
	top : 0;
	left : -100vw;

	display : grid;

	width : 100%;
	max-width : 100vw;
	height : 100vh;

	padding-bottom : 100px;

	transition : all 500ms cubic-bezier(.68, -.55, .265, 1.55);
	transform : scale(1);
	text-align : left;

	opacity : 0;
	background : #fff;

	place-items : center;
}

.menu.open
{
	left : 0;
	opacity : 1;
}

.menu.open ul li
{
	transform : translateX(0);
	opacity : 1;
}

.nav li:before ,
.nav li:first-child:before
{
	content : '';
}

.menu-item ,
.menu-item.active
{
	display : flex;
	flex-direction : column;

	width : 100%;

	border-bottom : none;
}

.menu-item a
{
	display : inline-grid;
	padding : .6rem 0;
}

.menu-item a:hover
{
	transition : transform .5s linear;
}

ol.sub-menu
{
	position : relative;

	min-width : 100%;
	max-width : 100vw;

	transition : none;
	transform : none;
	transform-origin : none;

	border-bottom-right-radius : none;
	border-bottom-left-radius : none;
}

ol.sub-menu .menu-item
{
	display : flex;
	flex-direction : column;

	width : 100%;
}

ul.nav
{
	display : inline-grid;
	visibility : visible;

	height : 70vh;
	padding : 6rem 2rem;
}

ul.nav li.nav_foot
{
	font-size : .8rem;

	display : inline-grid;
}

.top_fav
{
	justify-content : flex-start;

	margin-left : -8px;
	padding : 3rem 0;
}

/*  end nav fullscreen RESPONSIVE TABLET  */

/*  responisve home TABLET  */

.service_area
{
	width : 90vw;

	margin : 2rem auto;
	padding : 0 2rem;

	grid-template-columns : repeat(2,44vw);
}

.service_card
{
	grid-template-rows : auto auto auto;
}

.service_card h1
{
	font-size : 1.424rem;
}

.service_link
{
	width : 90vw;

	grid-column : 1;
}

.doctor_area
{
	padding : 1rem 0;
}

.profile
{
	margin : 1rem 0;
}

.pacient_area
{
	width : 90vw;
	
	margin : 0;
	padding : 0 4rem;

	grid-template-columns : repeat(2,44vw);
}

.pacient_area h3
{
	padding-top : 2rem;
}

.pacient_card
{
	display : grid;

	grid-template-columns : auto;
	grid-template-rows : 60px auto;
}

.about_area
{
	padding : 1rem 0;
}

.about
{
	width : 90vw;
	
	padding : 0 1rem;

	grid-template-columns : repeat(2,44vw);
}

.txt
{
	width : 90%;
}

footer
{
	margin : 0;

	grid-template-columns : 1fr;
}

.form_area
{
	min-height : 400px;

	grid-row : 1;
}

.form_area input ,
.form_area textarea ,
#submit
{
	width : 50%;
}

.brand
{
	margin-top : 4rem;

	grid-template-columns : auto auto;
}

.brand_logo
{
	width : 50%;
}

.brand_logo h3
{
	padding : 0;
}

.copyright
{
	width : 70%;

	margin-left : 40%;
	padding-bottom : 3rem;
}

.up
{
	right : 1rem;
}

/*  responsive PAGE SERVICE TABLET   */

.main_service
{
	margin : 2rem 0;
	padding : 0 2rem;

	gap : 1rem;
	grid-template-columns : 1fr;
}

.icon_list
{
	left : 1.5rem;
}
  
/*  responsive PAGE DOCTOR TABLET   */

.timeline
{
	margin : 2rem 0;
	padding : 0 2rem;
}

.timeline img
{
	display : grid;

	margin : 1rem;
	padding : 0;
}

.tree
{
	grid-template-columns : 1fr;
}

.tree::before
{
	left : 1rem;
}

.timeline h2 ,
.timeline h3.pro ,
.timeline h5
{
	line-height : 1;

	display : block;

	padding-left : 1rem;

	text-align : left;
}

.timeline-content h3
{
	line-height : .9;
}

.timeline-right
{
	grid-column : 1/1;
	justify-items : start;
}

.timeline-left
{
	grid-column : 1/1;
	justify-items : start;
}

.timeline-right-0 ,
.timeline-left-0
{
	display : none;
}

.marker-r
{
	left : .5rem;

	margin-right : -10px;
}

.marker-l
{
	left : 1rem;
}

.tree div:nth-child(even) > .timeline-content
{
	width : 80%;

	margin-top : 0;
	padding : 0 2rem;

	text-align : left;
}

.diploma img
{
	width : 200px;
}

/*  responsive PAGE PRICE TABLET   */

.price_title
{
	padding : 0;

	grid-template-columns : 1fr;
}

.price_title img
{
	display : none;
}

.price_info
{
	padding : 2rem;
}

.price
{
	position : relative;
	z-index : 0;

	padding : 1rem;
	margin : 2rem;
}

a.accordion
{
	font-size : .825rem;
	line-height : 1;

	padding : 1.5rem 2rem;
}

.price tr
{
	grid-template-columns : 1fr 1fr 1fr;
}

table
{
	line-height : 1.3;
}

th
{
	padding : .6rem;
}

td
{
	padding : .4rem;
}

/*  responsive PAGE CLIENTS TABLET   */

.client_label
{
	text-align : left;

	column-gap : 0;
	grid-template-columns : 1fr;
	row-gap : 0;
}

.client_label h3
{
	line-height : 1;
}

.client_label img
{
	display : none;
}

.client_info div
{
	gap : 0 .5rem;
}

.client
{
	width : 80vw;
}

}